 /* Main stylesheet for jtmusson.org.uk */
 
html {
	/* cf. http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
	height: 100%;
	margin-bottom: 1px;
}

div.main {
	width: 600px;
	height: auto;
	margin: 0 auto 0 100px;
	padding: 0;
	padding-bottom: 50px;
	text-align: left;	
}

div.right {
	float: right;
	position: absolute;
	width: 182px;
	background-color: #DE0014;
	margin-top: 90px;
	margin-left: 800px;
	margin-bottom: 100%;
	padding: 10px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

/* Block elements */

h1 {
	font-size: 300%;
}

h2 {
	font-family: Futura, 'Gill Sans MT', sans-serif;
	font-size: 180%;
	font-weight: normal;
}

h2.sidebar {
	color: white;
	margin-top: 5px;
	margin-bottom: 10px;
}

h3 {
	font-size: 140%;
}

h3.sidebar {
	font-size: 120%;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3.sidebar a {
	color: white;
}

h4 {
	font-size: 120%;
	font-weight: bold;
}

h5 {
	font-size: 100%;
	font-weight: bold;
}
	
p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.3;
}

p.byline {
	font-size: 80%;
	color: gray;
	font-style: italic;
	margin-top: -10px;
}

p.signature {
	font-size: 90%;
	color: gray;
	font-style: italic;
	line-height: 1;
	padding-bottom: 10px;
}

p.source {
	text-align: right;
	margin-right: 3.9em;
	font-size: 70%;
	margin-top: -8px;
	margin-bottom: -5px;
	line-height: 1;
}

p.sidebar {
	font-size: 80%;
	color: white;
	line-height: 1;
}

blockquote {
	background-color: #F6F6F6;
}

blockquote p {
	font-size: 90%;
	line-height: 1.2;
}

blockquote:before {
	content: url(/images/open.gif);
	float: left;
	margin: 0px 0px 0px -2em;
}

blockquote:after {
	content: url(/images/close.gif);
	float: right;
	margin: -2.5em -2em 0px 0px;
}

/* Inline elements */

ul {
	font-size: 100%;
	list-style-type: square;
}

ul.sidebar {
	color: white;
	font-size: 80%;
	padding-left: 20px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ol {
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #DE0014;
}

a.sidebar {
	color: white;
}

a:hover {
	background-color: #DE0014;
	color: #FFF;
}

a:hover.sidebar {
	text-decoration: underline;
}

/* Text formatting elements */

q:before {
	content: '‘' ;
}

q:after {
	content: '’';
}

q[lang|="fr"]:before {
	content: '«' ;
}

q[lang|="fr"]:after {
	content: '»';
}

code, kbd, samp, tt {
	font-size: 80%;
	background-color: #F6F6F6;
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
}

span.small-caps {
	font-variant: small-caps;
}

span.superscript {
	vertical-align: super;
}

span.subscript {
	vertical-align: sub;
}

span.small {
	font-size: 70%;
}

/* Audio and visual elements */

img {
	border: 2px solid #000;
	margin: 0px 0px 5px 10px;
}

img.right {
	float: right;
}

img.left {
	float: left;
}

/* img.icon {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
} */

/* Special elements */

hr {
	border: 1px solid #000;
	margin: 15px 0px 15px 0px;
}

/* Styles for Twitter widget */

a.twitter-timeline {
	width: 180px;
}

iframe.twitter-timeline {
	height: 578px;
}

iframe#twitter-widget-0 {
	/* margin-left: -10px; */
}

/* Definition lists */

dl {
	width: 100%;
	margin: 2em 0;
	padding: 0;
	clear: both;
	overflow: auto;
}

dt {
	width: 30%;
	float: left;
	margin: 0;
	padding: 5px 9.9% 5px 0;
	border-top: 1px solid #999;
	font-weight: bold;
	overflow: auto;
	clear: left;
}

dd {
	width: 60%;
	float: left;
	margin: 0;
	padding: 6px 0 5px 0;
	border-top: 1px solid #999;
	overflow: auto;
}

/* Forms */

label {
	display: block;
	float: left;
	clear: both;
	text-align: right;
	margin: 0.6em 5px 0 0;
	width: 40%;
}

input, select, textarea {
	float: right;
	margin: 1em 0 0 0;
	width: 57%;
}

input {
	border: 1px solid #666;
}

input[type=radio], input[type=checkbox], input[type=submit], input[type=reset], input[type=button], input[type=image] {
	width: auto;
}

/* Tables */

table {
	border: 2px solid #000;
	border-spacing: 0;
}

table.site_header {
	border: none;
}

table.site_header td {
	padding: 0px;
}

th {
	text-align: left;
	background-color: #999;
}

th, td {
	padding: 5px;
}

tr.alt td {
	background: #ddd;
}

/* Special */

div.map {
	float: left;
	text-align: center;
	border: 1px solid #666;
	background-color: #fcfcfc;
	margin: 5px;
	padding: 1em;
}

span.home, span.pigeon {
	font-weight: bold;
}

span.empty {
	color: #666;
}

iframe#forecast_embed {
	border: 2px solid black;
	width: 100%;
}
